7.file_connector/src/main/mule/7.file_connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="create_new_file" doc:id="41311049-ac8a-4546-81d1-c67eea72ac01" >
		<http:listener doc:name="HTTP POST" doc:id="8fadd5fe-420c-45f9-93da-c2d4d9713190" config-ref="HTTP_Listener_config" path="writeFile" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="a5c32a94-58b9-415e-8e13-a6933dfaffe2" message="#[%dw 2.0

output application/json
---

payload]"/>
		<set-variable value="#[%dw 2.0
output application/json
---
payload.fileName]" doc:name="Set Variable with fileName" doc:id="b277208a-0469-46cb-a66b-d2cdf4620364" variableName="nameOfFile"/>
		<file:write doc:name="Write to file" doc:id="d8d3703a-1cbb-47c6-b33e-d9cbb9f4d9cd" config-ref="File_Config" path='#["write/" ++ vars.nameOfFile ++ ".csv"]' mode="APPEND">
			<file:content ><![CDATA[#[%dw 2.0
output application/csv header = false
---
payload.customer]]]></file:content>
		</file:write>
	</flow>
	<flow name="poll_directory_for_new_files" doc:id="dbfe8810-33c6-43b6-8415-00f97fa1d867" >
		<file:listener doc:name="On New or Updated File" doc:id="2d3a4edc-278a-4ea3-8aab-ad0a2977cf4e" config-ref="File_Config" directory="write" watermarkMode="CREATED_TIMESTAMP">
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="48d9b811-f06d-4315-a112-04a974117dcc" message='#[%dw 2.0

output application/json
---
{
	"lastModifiedTime" : attributes.lastModifiedTime,
	"creationTime" : attributes.creationTime,
	"fileName" : attributes.fileName ++" added to folder"
}]'/>
	</flow>
	<flow name="move_file_to_new_folder" doc:id="8cff2c5a-8f54-4bc7-a226-4c041a5027a5" >
		<http:listener doc:name="HTTP GET" doc:id="c561a646-f663-42b2-a11e-c3f1a9c139c4" config-ref="HTTP_Listener_config" path="/moveFile/{fileName}" allowedMethods="GET"/>
		<file:move doc:name="Move file from one folder to another" doc:id="62dbf285-4312-48e9-a5be-27e5fe7ba820" config-ref="File_Config" sourcePath='#["write/" ++ attributes.uriParams.fileName ++ ".xlsx"]' targetPath="read/"/>
		<logger level="INFO" doc:name="Logger" doc:id="30132f10-9414-4057-a674-963cfe64d15a" message='#[%dw 2.0

output application/json
---
"file moved to another folder"]'/>
		<set-payload value='#[%dw 2.0

output application/json
---
"file moved to another folder"]' doc:name="Set Payload" doc:id="ace5d5bc-198c-406d-94b8-b0d9ac23da2e" />
	</flow>
	<flow name="read_Files" doc:id="195ac7ac-a5e8-4bdd-826b-abefd2671592" >
		<http:listener doc:name="HTTP GET" doc:id="6083be7c-d6b6-4330-b452-71566fc674a1" config-ref="HTTP_Listener_config" path="/readFile/{fileName}" allowedMethods="GET"/>
		<file:read doc:name="Read" doc:id="5b27753a-bc3c-4a48-868c-21552821d630" config-ref="File_Config" path='#["read/" ++ attributes.uriParams.fileName ++ ".csv"]'/>
		<logger level="INFO" doc:name="Logger" doc:id="c39c5c20-e089-4f06-a2ed-a1ed67496610" message="#[%dw 2.0

output application/json
---
payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="961146cc-f655-494d-b433-9a3e024f76f6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.Age reduce ($ + $$)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="7ee02a26-21bc-4991-b93a-f121a80f51fc" />
	</flow>
	<flow name="list_files_in_folder_basic" doc:id="86c305a2-d5ad-4c69-a228-ad56c05718d5" >
		<http:listener doc:name="HTTP GET" doc:id="576d4d6b-3439-401c-9012-fa2d2a0eefac" config-ref="HTTP_Listener_config" path="/listFilesBasic" allowedMethods="GET"/>
		<file:list doc:name="List all files in folder" doc:id="7bbbf799-78b0-48d6-8687-738d2ad7579e" config-ref="File_Config" directoryPath="write"/>
		<logger level="INFO" doc:name="Log data type of payload" doc:id="83a5df46-de6a-40f9-a6bf-d3d89ab115b5" message='#[%dw 2.0

output application/json
---
{
	"typePayload" : typeOf(payload)
}]'/>
		<set-payload value="#[%dw 2.0

output application/json
---
payload]" doc:name="Set Payload" doc:id="d596bc8d-25ee-4e84-8841-003e38d4c5e8" />
	</flow>
	<flow name="list_files_in_folder_intermediate" doc:id="205d8599-5321-4c06-8e41-100af25f0127" >
		<http:listener doc:name="HTTP GET" doc:id="0423a384-fc06-427f-a04e-2895161adcd6" config-ref="HTTP_Listener_config" allowedMethods="GET" path="/listFilesIntermediate"/>
		<file:list doc:name="List all files in folder" doc:id="b3586a80-abf3-446e-8141-2eac25a6a045" config-ref="File_Config" directoryPath="write"/>
		<logger level="INFO" doc:name="Logger" doc:id="18a2bb54-cdf9-41b3-b14e-f96c59e44c78" message="#[%dw 2.0

output application/json
---
payload]"/>
		<foreach doc:name="For Each Item (Folder or File)" doc:id="2b9ae405-3f67-4c39-9ed6-9691cbcf2b05" collection="#[payload]">
			<choice doc:name="Validate if Element is File or Folder" doc:id="ddac2f64-01fb-4370-80e4-b295b88276f5" >
				<when expression="#[attributes.directory == false]">
					<logger level="INFO" doc:name="Log File" doc:id="f2327318-9d8f-4821-90a3-152f0fae2e77" message='#[%dw 2.0

output application/json
---
{
	"message" : "Found File" ++ attributes.path
}]'/>
				</when>
				<otherwise >
					<logger level="INFO" doc:name="Log Folder" doc:id="c69ee0fe-7e50-435c-bee0-b8bb468fa7f6" message='#[%dw 2.0

output application/json
---
{
	"message" : "Found Folder" ++ attributes.path
}]'/>
				</otherwise>
			</choice>
		</foreach>
		<set-payload value="#[%dw 2.0

output application/json
---
payload]" doc:name="Set Payload" doc:id="d671243e-29ec-400d-b34b-9b3b82eed3eb" />
	</flow>
</mule>
